<% data = {
  labels: ["","","","","","","",""],
  datasets: [
    {
        label: "Football",
        backgroundColor: "rgba(254, 88, 88,1)",
        borderColor: "rgba(254, 88, 88,1)",
        data: [
          0,
          "#{get_day_returns(Date.today - 6.days,Acca::Category::FOOTBALL)}",
          "#{get_day_returns(Date.today - 5.days,Acca::Category::FOOTBALL)}",
          "#{get_day_returns(Date.today - 4.days,Acca::Category::FOOTBALL)}",
          "#{get_day_returns(Date.today - 3.days,Acca::Category::FOOTBALL)}",
          "#{get_day_returns(Date.today - 2.days,Acca::Category::FOOTBALL)}",
          "#{get_day_returns(Date.today - 1.days,Acca::Category::FOOTBALL)}",
          "#{get_day_returns(Date.today,Acca::Category::FOOTBALL)}"
        ],
        fill: false
    },
    {
        label: "Horse Racing",
        backgroundColor: "rgba(99, 202, 185,1)",
        borderColor: "rgba(99, 202, 185,1)",
        data: [
          0,
          "#{get_day_returns(Date.today - 6.days,Acca::Category::HORSE_RACING)}",
          "#{get_day_returns(Date.today - 5.days,Acca::Category::HORSE_RACING)}",
          "#{get_day_returns(Date.today - 4.days,Acca::Category::HORSE_RACING)}",
          "#{get_day_returns(Date.today - 3.days,Acca::Category::HORSE_RACING)}",
          "#{get_day_returns(Date.today - 2.days,Acca::Category::HORSE_RACING)}",
          "#{get_day_returns(Date.today - 1.days,Acca::Category::HORSE_RACING)}",
          "#{get_day_returns(Date.today,Acca::Category::HORSE_RACING)}"
        ],
        fill: false
    }
  ]
} %>
<% options = {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }],
        xAxes: [{
          display: false,
        }],
    }
} %>
<div class="page-title">
  <h1>Dashboard</h1>
</div>

<div class="dashboard-container">
  <div class="dashboard-half">
    <div class="flex-row">
      <div class="widget-container full">
        <h3 class="widget-title">Last 7 Days</h3>
        <div class="widget large">
          <%= line_chart data, options %>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-half">
    <div class="flex-row flex-wrap flex-grow height-100 mobile-widget-scroller">
      <div class="widget-container half">
        <h3 class="widget-title">Profit / Loss</h3>
        <div class="widget">
          <h2><%= number_to_currency(profit_loss(Date.today - 7.days), unit: "£") %></h2>
        </div>
      </div>

      <div class="widget-container half">
        <h3 class="widget-title">Total Staked</h3>
        <div class="widget">
          <h2><%= number_to_currency(total_staked(Date.today - 7.days), unit: "£") %></h2>
        </div>
      </div>

      <div class="widget-container half">
        <h3 class="widget-title">Number Of Bets</h3>
        <div class="widget">
          <h2><%= total_bets(Date.today - 7.days) %></h2>
        </div>
      </div>

      <div class="widget-container half">
        <h3 class="widget-title">Lost By One</h3>
        <div class="widget">
          <h2>3</h2>
        </div>
      </div>
    </div>
  </div>
</div>