<% data = {
  labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
  datasets: [
    {
        label: "Football",
        backgroundColor: "rgba(254, 88, 88,1)",
        borderColor: "rgba(254, 88, 88,1)",
        data: [-10, -25, 10, -5, 75, 100, 80],
        fill: false
    },
    {
        label: "Horse Racing",
        backgroundColor: "rgba(99, 202, 185,1)",
        borderColor: "rgba(99, 202, 185,1)",
        data: [0, 175, 175, 175, 175, 175, 175],
        fill: false
    }
  ]
} %>
<% options = {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true
            }
        }]
    }
} %>
<div class="page-title">
  <h1>Dashboard</h1>
</div>

<div class="flex-row" style="margin: 0 -10px;">
  <div class="widget-container full">
    <h3 class="widget-title">This Week</h3>
    <div class="widget large">
      <%= line_chart data, options %>
    </div>
  </div>
</div>

<div class="line-divide"></div>

<div class="flex-row" style="margin: 0 -10px;">
  <div class="widget-container quater">
    <h3 class="widget-title">Profit / Loss</h3>
    <div class="widget">
      <h2>+£78.62</h2>
    </div>
  </div>

  <div class="widget-container quater">
    <h3 class="widget-title">Total Staked</h3>
    <div class="widget">
      <h2>£48</h2>
    </div>
  </div>

  <div class="widget-container quater">
    <h3 class="widget-title">Number Of Bets</h3>
    <div class="widget">
      <h2>18</h2>
    </div>
  </div>

  <div class="widget-container quater">
    <h3 class="widget-title">Lost By One</h3>
    <div class="widget">
      <h2>3</h2>
    </div>
  </div>
</div>