<div class="page-title">
  <div class="flex-row v-middle space-between">
    <h1><%= @selection.name %></h1>
    <div class="width-50">
      <%= render "form" %>
    </div>
  </div>
</div>

<div class="flex-row">
  <div class="width-50">
    <div class="flex-row flex-wrap" style="margin: -5px;">
      <div class="widget-container width-50">
        <div class="widget">
          <h3 class="widget-title">Win Rate</h3>
          <h2>3</h2>
        </div>
      </div>
      <div class="widget-container width-50">
        <div class="widget">
          <h3 class="widget-title">Number of bets</h3>
          <h2>3</h2>
        </div>
      </div>
      <div class="widget-container width-50">
        <div class="widget">
          <h3 class="widget-title">Total Staked</h3>
          <h2>3</h2>
        </div>
      </div>
      <div class="widget-container width-50">
        <div class="widget">
          <h3 class="widget-title">Profit/Loss</h3>
          <h2>3</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="width-50">
    <h2><%= @selection.name %> Accas</h2>
    <% @selection_accas.each do |acca| %>
      <%= get_acca_selections(acca) %>
    <% end %>
  </div>
</div>