<div class="page-title">
  <div class="pull-right">
    <%= link_to "Import Accas", import_accas_path, class: "btn btn-primary mobile-hide" %>
  </div>
  <h1>Acca's</h1>
</div>

<%= render "accas" %>

<div class="modal-overlay" style="display:none;">
  <div class="modal">
    <div class="modal-body">
      <div id="modal_data"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("body").on("click",".get-acca",function(event) {
      event.preventDefault();
      var acca_id = $(this).data("acca-id");
      $.ajax({
        url: "/accas/get_acca",
        type: "GET",
        data: { "id": acca_id },
        dataType: "script",
        format: "js",
      }).success(function() {

      });
    });
  });
</script>