.btn {
  display: inline-block;
  padding: 9px 10px;
  outline: 0; border: 0;
  border-radius: $border_radius;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s ease;
  &.btn-full {
    width: 100%;
    text-align: center;
  }
  &.btn-primary {
    background: $primary_gradient;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  &.btn-action {
    background-color: $warning;
    border: 1px solid $warning;
    &:hover {
      background-color: lighten($warning,5%);
      color: #fff;
      text-decoration: none;
    }
  }
  &.btn-danger {
    background-color: $danger;
    border: 1px solid $danger;
    &:hover {
      background-color: lighten($danger,5%);
      color: #fff;
      text-decoration: none;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

.checkbox-group {
  display: flex;
  max-width: 560px;
  border: 1px solid $border_color;
  border-radius: $border_radius;
  label {
    width: 100%;
    input { display: none; }
    span {
      width: 100%;
      display: inline-block;
      padding: 10px 15px;
      border-right: 1px solid $border_color;
      text-align: center;
      cursor: pointer;
    }
    &:last-child span{
      border: 0;
    }
    input:checked + span {
      background-color: $primary;
      color: #fff;
    }
  }
}