.clear{ clear: both; }

a{
  color: $primary;
  text-decoration: none;
  &:hover{
    color: $primary;
    text-decoration: underline;
  }
}

.divider{
  display: block;
  border-top: 1px solid $border_color;
  margin: 10px 0;
}

// Show/hide
// ---------
.hidden{ display: none !important; }
.show{ display: block !important; }

// Float
// -----
.pull-left{ float: left !important; }
.pull-right{ float: right !important; }

// Flexbox
// -------
.flex{ display: flex; }
// .flex-full { width: 100%; }
.flex-row{ display: flex; flex-direction: row; }
.flex-column{ display: flex; flex-direction: column; }
.v-middle{ align-items: center; }
.h-middle{ justify-content: center; }
.space-between{ justify-content: space-between; }
.flex-full{ display: flex; width: 100%; }
.flex-grow{ flex-grow: 1; }
.flex-wrap{ flex-wrap: wrap; }

// Margins and padding
// -------------------
.no-margin{ margin: 0 !important; }
.no-mar-top{ margin-top: 0 !important; }
.no-mar-bottom{ margin-bottom: 0 !important; }

.mar-top-5{ margin-top: 5px !important; }
.mar-top-10{ margin-top: 10px !important; }
.mar-top-15{ margin-top: 15px !important; }
.mar-top-20{ margin-top: 20px !important; }

.mar-bottom-5{ margin-bottom: 5px !important; }
.mar-bottom-10{ margin-bottom: 10px !important; }
.mar-bottom-15{ margin-bottom: 15px !important; }
.mar-bottom-20{ margin-bottom: 20px !important; }

.mar-left-5{ margin-left: 5px !important; }
.mar-left-10{ margin-left: 10px !important; }
.mar-left-15{ margin-left: 15px !important; }
.mar-left-20{ margin-left: 20px !important; }

.mar-right-5{ margin-right: 5px !important; }
.mar-right-10{ margin-right: 10px !important; }
.mar-right-15{ margin-right: 15px !important; }
.mar-right-20{ margin-right: 20px !important; }

.no-padding{ padding: 0 !important; }
.pad-right-10{ padding-right: 10px !important; }

// Positions
.relative{ position: relative; }

// Text align
// ----------
.text-left{ text-align: left !important; }
.text-center{ text-align: center !important; }
.text-right{ text-align: right !important; }

// Text transform
// --------------

.text-overflow{
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nowrap{ white-space: nowrap; }
.break-word{ word-break: break-all; }

.upcase{ text-transform: uppercase; }
.upcase::-webkit-input-placeholder { text-transform: capitalize; }
.upcase::-moz-placeholder { text-transform: capitalize; }
.upcase:-ms-input-placeholder { text-transform: capitalize; }
.upcase:-moz-placeholder{ text-transform: capitalize; }

.link-disabled{
  opacity: 0.5;
  pointer-events: none;
}

// Text styles
// -----------
.muted { opacity: 0.5; }

// Tags
// ----
.tag{
  display: inline-block;
  padding: 3px;
  background-color: $primary;
  border-radius: 3px;
  color: #fff;
  // Sizes
  &.large{
    padding: 6px;
    font-size: 12px;
  }
  &.extra-large{
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 16px;
  }
  // Colours
  &.profit {
    background-color: $success;
  }
  &.loss {
    background-color: $danger;
  }
}

// Tooltip
// -------
.tooltip{
  position: relative;
  &:before,&:after{
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
  }
  &:before{
    content: attr(data-tooltip);
    width: 300px;
    padding: 5px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    white-space: normal;
    position: absolute;
    transform: translate(-50%,calc(-100% + -5px));
  }
  &:after{
    content: '';
    width: 0; height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0,0,0,0.75);
    position: absolute;
    top: -5px; left: 0;
  }
  &:hover{
    &:before,&:after{
      visibility: visible;
      opacity: 1;
    }
  }
}

// Loading spinner
// ---------------
.loading-spinner{
  display: none;
  width: 20px; height: 20px;
  margin: 0 5px;
  border: 3px solid #2BA6CB;
  border-radius: 100%;
  position: relative;
  animation: loading_spinner 1s infinite;
  // Show / hide loading spinner with active class
  &.active{ display: block; }
  &:after{
    content: '';
    width: 4px; height: 8px;
    background-color: #fff;
    position: absolute;
    top: -4px; left: 50%;
    transform: translate(-50%,0);
  }
  &.medium{
    width: 40px; height: 40px;
    border-width: 6px;
    &:after{
      width: 8px; height: 10px;
      top: -8px;
    }
  }
  &.large{
    width: 60px; height: 60px;
    border-width: 8px;
    &:after{
      width: 10px; height: 12px;
      top: -10px;
    }
  }
}

@keyframes loading_spinner{
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
