// Modal
// -----

/*
<!-- Example HTML -->
<div class="modal-overlay">
  <div class="modal">
    <a href="#" class="modal-close"></a>
    <h2>Modal Title</h2>
    <p>Modal content goes here...</p>
  </div>
</div>
*/

.modal-overlay{
  width: 100%; height: 100%;
  background-color: rgba(#28272c,0.95);
  position: fixed;
  top: 0; left: 0;
  z-index: 9;
  .modal{
    width: 100%;
    max-width: 500px;
    background-color: #343338;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2),0 8px 16px rgba(0,0,0,0.2);
    border-radius: $border_radius;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    @media(max-width: $mobile) {
      max-width: 95%;
    }
    .modal-body {
      max-height: 500px;
      padding: 60px 10px 10px 10px;
      overflow-y: auto;
    }
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; height: 50px;
    padding: 0 10px;
    background-color: #1c1c1c;
    border-radius: $border_radius $border_radius 0 0;
    position: fixed;
    top: 0; left: 0;
    z-index: 9;
    h1 {
      color: #fff;
      font-size: 24px;
      font-weight: 400;
    }
  }
  .modal-notice {
    padding: 10px;
    background-color: $primary;
    margin: -10px -10px 0 -10px;
    color: #fff;
    &.success { background-color: $success; }
    &.danger { background-color: $danger; }
  }
  .close-modal {
  	width: 24px; height: 24px;
    opacity: 0.5;
    position: relative;
  	&:before,&:after {
  		content: "";
  		background-color: #fff;
      border-radius: $border_radius;
  		position: absolute;
  		top: 50%; left: 50%;
  		transform: translate(-50%,-50%) rotate(45deg);
  	}
  	&:before {
  		width: 24px; height: 2px;
  	}
  	&:after {
  		width: 2px; height: 24px;
  	}
  }
}