table.table {
  width: 100%;
  border-collapse: collapse;
  tr {
    th,td {
      text-align: left;
      padding: 10px;
      border-bottom: 1px solid $border_color;
      &:first-child {
        border-left: 1px solid;
      }
      &:last-child {
        border-right: 1px solid;
      }
    }
    th {
      background-color: $primary;
      border-color: $primary !important;
      color: #fff;
    }
    td {
      background-color: #fff;
      border-color: $border_color !important;
      font-weight: 400;
    }
    &:nth-child(odd) td {
      background-color: #f9f9f9;
    }
  }
}

table.outlined {
  width: 100%;
  border-collapse: collapse;
  tr {
    th, td {
      padding: 5px;
      border: 1px solid $border_color;
    }
  }
}

table.dashboard {
  width: 100%;
  border-collapse: collapse;
  tr {
    td {
      text-align: left;
      padding: 20px 10px;
      border: 1px solid $border_color;
      background-color: #fff;
    }
    &:nth-child(odd) td {
      background-color: #f9f9f9;
    }
  }
}