table.table {
  width: 100%;
  border-collapse: collapse;
  tr {
    th,td {
      text-align: left;
      padding: 10px;
      &:first-child {
        border-left: 1px solid;
      }
      &:last-child {
        border-right: 1px solid;
      }
    }
    th {
      background-color: $dark_alt;
      border-color: $dark_alt !important;
      color: #fff;
    }
    td {
      background-color: $dark;
      border-color: $dark_alt !important;
      color: #fff;
      font-weight: 400;
      a { color: #fff; }
    }
    &:nth-child(odd) td {
      background-color: lighten($dark,5%);
    }
  }
}

table.outlined {
  width: 100%;
  border-collapse: collapse;
  tr {
    th, td {
      padding: 5px;
    }
  }
}

table.dashboard {
  width: 100%;
  border-collapse: collapse;
  tr {
    td {
      text-align: left;
      padding: 20px 10px;
      background-color: #fff;
    }
    &:nth-child(odd) td {
      background-color: #f9f9f9;
    }
  }
}